# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# .sh files
*.sh

# Virtual environments
.venv/
env/
venv/

# Data files (don’t track large datasets)
data/*
literature/
paper/
cache/*

# Model checkpoints
*.pt
*.pth
*.h5
*.npy
*.npz

# Audio files
*.wav
*.flac

# Logs & outputs
RESULTS/*
*.log
*.out
*.err
*.txt
*.png

# Jupyter
.ipynb_checkpoints/

# Models
best_models/*
ensemble_models/*

# Temporary files
temp*.py

# Benchmarking results
bench*/*

